---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "pagina de inicio";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Mi imporesionante subtitulo del blog</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, qui!</p>
</BaseLayout>